 <div class="container">
     <div class="row">
         <div class="col-md-6 offset-md-3">
            <h2>Dashboard</h2>
            <h5>Hurray! you are logged in {{ownername}}!</h5>
            <p>Owner email address: {{owneremail}}</p>
            <p>Owner id: {{ownerid}}</p>

            <hr>
            <h2>Add A Profile Picture</h2>

            <form ref='uploadForm' 
            id='OwnerPictureUploadForm' 
            action='http://localhost:8080/api/upload' 
            method='post' 
            encType="multipart/form-data">

                <div class="form-group">
                    <input type="hidden" name="id" value="{{ownerid}}" />
                    <input type="hidden" name="name" value="{{ownername}}" />
                    <input type="file" name="ownerPicture" />
                    <input type='submit' value='Upload!' id="upload"/>
                </div>
            </form> 

            <hr>

            <h2>Add A Pet</h2>
            <form ref='uploadForm' 
            id='AddPet' 
            action='http://localhost:8080/api/pets' 
            method='post' 
            encType="multipart/form-data">

                <div class="form-group">
                    <label for="petPicture" class="col-form-label">Picture</label>  
                    <input class="form-control" type="file" name="petPicture" />
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>      
                    <input class="form-control" type="text" name="name" />
                </div>
                <div class="form-group">
                    <label for="type" class="col-form-label">Pet Type</label>     
                    <input class="form-control" type="text" name="type" placeholder="Dog" />
                </div>
                <div class="form-group">
                    <label for="breed" class="col-form-label">Breed</label>      
                    <input class="form-control" type="text" name="breed" placeholder="Pug" />
                </div>
                <div class="form-group">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select name="gender" class="form-control">
                    <option name="gender" selected>Select One</option>
                    <option name="gender" value="male" >Male</option>
                    <option name="gender" value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age" class="col-form-label">Age</label>
                    <input class="form-control" name="age" type="text" />
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <input class="form-control" name="bio" type="text" />
                </div>
                    
                <input type="hidden" name="ownerId" value="{{ownerid}}" />
                <input type='submit' class="btn btn-primary" value='ADD' id="upload"/>

            </form>
    </div>
</div>
