<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="rounded mx-auto img-fluid" src="{{picture}}" alt="{{name}}">
                <h1>{{name}}, {{age}}</h1>
                <p>{{email}}</p>
                <p>{{location}}</p>
                <p>{{bio}}</p>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs pet-margin-b-sm">
                    <li class="nav-item">
                        <a id="view-pets" class="nav-link section-change active" data-section="#Pets">Pets</a>
                    </li>

                    <li class="nav-item">
                        <a id="view-post" class="nav-link section-change" data-section="#Posts">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a id="view-friends" class="nav-link section-change" data-section="#Friends">Friends</a>
                    </li>
                </ul>

                <section id="Pets">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Pets</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="card-deck">
                            {{#each pets}}
                            <div class="card">
                                <img class="card-img-top img-fluid" src="{{picture}}" alt="{{name}}" />
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{name}}, {{age}}</h4>
                                    <a href="/pets/{{id}}" class="btn btn-primary">View Profile</a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </section>

                <section id="Posts" class="d-none">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Posts</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        {{#each posts}}
                        <div class="col w-100">{{body}}</div>
                        {{/each}}
                    </div>
                </section>

                <section id="Friends" class="d-none">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Friends</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">Coming Soon</div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</main>