    <h2>{{name}}</h2>

    <img src="{{picture}}" />

    {{#each pets}}
        <p>{{name}}</p>
        <img src="{{picture}}" />
    {{/each}}

    {{#if canEdit}}

    {{else}}
        <p>I can't edit this</p>
    {{/if}}