<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="rounded mx-auto img-fluid" src="{{picture}}" alt="{{name}}">
                <h1>{{name}}, {{age}}</h1>
                <h2>{{#if breed}}{{breed}} | {{/if}}{{type}}</h2>
                <p>{{location}}</p>
                <p>{{bio}}</p>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs pet-margin-b-sm">
                    <li class="nav-item">
                        <a id="view-pets" class="nav-link section-change active" data-section="#Owners">Owners</a>
                    </li>

                    <li class="nav-item">
                        <a id="view-post" class="nav-link section-change" data-section="#Posts">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a id="view-friends" class="nav-link section-change" data-section="#Friends">Friends</a>
                    </li>
                </ul>

                <section id="Owners">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Owners</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="card-deck">
                            <div class="card col-lg-6">
                                <img class="card-img-top img-fluid" src="{{ownerPicture}}" alt="{{ownerName}}" />
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{ownerName}}, {{ownerAge}}</h4>
                                    <a href="/owners/{{ownerId}}" class="btn btn-primary">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Posts" class="d-none">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Posts</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">Coming Soon</div>
                    </div>
                </section>

                <section id="Friends" class="d-none">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-left" style="display: inline-block">Friends</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">Coming Soon</div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</main>