<main class="container">

<!-- display filter and pets -->
<div id="Filters">
    <form method="post" name="filter" action="/pets">
        <div class="row">

            <div class="col">
                <select data-placeholder='Type' class='chosen-select form-control' name="type" id='type'>
                    <option selected="selected">Pet Type</option>
                    {{#each types}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col">
                <select data-placeholder='Breed' class='chosen-select form-control' name="breed" id='breed'>
                    <option value="" selected="selected">Breed</option>
                    <option value="">No Preference</option>
                    {{#each breeds}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col">
                <select data-placeholder='Age' class='chosen-select form-control' name="age" id='age'>
                    <option value="" selected="selected">Age</option>
                    <option value="">No Preference</option>
                    <option value='0-3'> &le; 3 years </option>
                    <option value='4-7'> 4-7 years </option>
                    <option value='8+'> &ge; 8 years </option>
                </select>
            </div>

            <div class="col">
                <select data-placeholder='Gender' class='chosen-select form-control' name="gender" id='gender'>
                    <option value="" selected="Gender">Gender</option>
                    <option value="">No Preference</option>
                    <option value='female'>Female</option>
                    <option value='male'>Male</option>
                </select>
            </div>

            <div class="col">
                <input type="submit" value="Search" id="submit" class="btn btn-primary disabled" disabled/>
            </div>
        </div>
    </form>
</div>

    <div class="row">
        <section class="col-md-6 col-sm-12">
            {{#each pets}}
                
                <div class="card float-right" style="width: 20rem;">
                <img class="card-img-top" src="{{picture}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{bio}}</p>
                    <a href="/pets/{{id}}" class="btn btn-primary">View Profile</a><!--change owners/id to pets/id-->
                </div>
                </div>

            {{/each}}
        </section>

        <aside class="col-md-6 col-sm-12">
            {{> aside }}
        </aside>
    </div>

    <div class="row">
        <p>types</p>
        {{#each types}}
            <p>{{this}}</p>
        {{/each}}
    </div>
</main>
